body{

margin:0;
font-family:Arial;
background:#0f172a;
color:white;

}

header{

background:#020617;
padding:30px;
text-align:center;

}

section{

padding:30px;
text-align:center;

}

input,select{

display:block;
margin:10px auto;
padding:10px;
width:250px;

}

button{

padding:10px 20px;
background:#38bdf8;
border:none;
cursor:pointer;
margin-top:10px;

}

.skill-card{

background:#1e293b;
padding:15px;
margin:10px auto;
width:300px;
border-radius:10px;

}

footer{

background:#020617;
padding:20px;
text-align:center;

}
