body{

background:#0f172a;
color:white;
font-family:Arial;
text-align:center;

}

.container{

margin-top:100px;

}

input, textarea{

width:300px;
padding:10px;
margin:10px;
border-radius:5px;
border:none;

}

button{

padding:10px 20px;
background:#3b82f6;
border:none;
color:white;
border-radius:5px;

}

section{

background:#1e293b;
padding:30px;
margin:20px;
border-radius:10px;

}

footer{

margin-top:40px;
padding:20px;

}
